{% extends 'store/base.html' %}
{% block title %}Albums{% endblock %}
{% block center_content %}
  <h4>Albums:</h4>
  <ul>
    {% for album in albums %}
      <div class="card" style="width: 200rem;">
        <a href="{% url 'store:album' album.id %}">
          <img class="card-img-top" src={{ album.picture }} alt="Card image cap">
        </a>
        <div class="card-body">
          <h5 class="card-title">{{ album.title }}</h5>
          {% for artist in album.artists.all %}
            <p class="card-text">{{ artist.name }}</p>
            <a href="{% url 'store:album' album.id %}" class="card-link">More info</a>
          {% endfor %}
        </div>
      </div>
      <hr />
    {% endfor %}
  </ul>
  {% if paginate %}
    <div class="clearfix"></div>
    <nav aria-label="...">
      <ul class="pager">
        {% if albums.has_previous %}
          <li><a href="?page={{ albums.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% if albums.has_next %}
          <li><a href="?page={{ albums.next_page_number }}">Next</a></li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
{% endblock %}
