{% extends 'store/base.html' %}
{% block title %}Albums{% endblock %}
{% block center_content %}
  <h4>Albums:</h4>
  <ul>
    {% for album in albums %}
      <div class="card" style="width: 200rem;">
        <a href="{% url 'store:show_album' album.id %}">
          <img class="card-img-top" src={{ album.picture }} alt="Card image cap">
        </a>
        <div class="card-body">
          <h5 class="card-title">{{ album.title }}</h5>
          {% for artist in album.artists.all %}
            <p class="card-text">{{ artist.name }}</p>
            <a href="{% url 'store:show_album' album.id %}" class="card-link">More info</a>
          {% endfor %}
        </div>
      </div>
      <hr />
    {% endfor %}
  </ul>
{% endblock %}
