{% extends 'store/base.html' %}
{% block title %}Artists{% endblock %}
{% block center_content %}
  <h4>Artists:</h4>
  <ul>
    {% for artist in artists %}
      <div class="card" style="width: 200rem;">
        <a href="{% url 'store:show_artist' artist.id %}">
          <img class="card-img-top" src={{ artist.picture }} alt="Card image cap">
        </a>
        <div class="card-body">
          <h5 class="card-title">{{ artist.name }}</h5>
          <p class="card-text">{{ artist.bio }}</p>
          <link class="card-link" href="{% url 'store:show_artist' artist.id %}">
          More info</link>
        </div>
      </div>
      <hr />
    {% endfor %}
  </ul>
{% endblock %}
